
.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}

.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px;
}

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px;
}

.has-feedback {
  position: relative;
}


/*********************
* Animations
*********************/
.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

/* ending enter and move styling
   (this is what the element will animate from */
.repeat-animation.ng-enter,
.repeat-animation.ng-move { opacity:0; }

/* ending enter and move styling
   (this is what the element will animate towards */
.repeat-animation.ng-enter.ng-enter-active,
.repeat-animation.ng-move.ng-move-active { opacity:1; }

/* starting leave animation */
.repeat-animation.ng-leave { opacity:1; }

/* ending leave animation */
.repeat-animation.ng-leave.ng-leave-active { opacity:0; }



.show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.show-hide.ng-hide {
  opacity: 0;
}
.show-hide.ng-show{
  opacity: 0;
}

.fadeZoom.ng-enter {
  -webkit-animation-duration: 0.6s, 0.2s;
  -moz-animation-duration: 0.2s, 0.2s;
  -ms-animation-duration: 0.2s, 0.2s;
  animation-duration: 0.2, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
  -moz-animation-name: fadeIn, zoomIn;
  -ms-animation-name: fadeIn, zoomIn;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-enter {
  -webkit-animation-duration: 0.2s, 0.2s;
  -moz-animation-duration: 0.2s, 0.2s;
  -ms-animation-duration: 0.2s, 0.2s;
  animation-duration: 0.2s, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
  -moz-animation-name: fadeIn, zoomIn;
  -ms-animation-name: fadeIn, zoomIn;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-leave {
  -webkit-animation: fadeOutDown 0.2s;
  -moz-animation: fadeOutDown 0.2s;
  -ms-animation: fadeOutDown 0.2s;
  animation: fadeOutDown 0.2s;
}

.avatar{
  width: 60px;
  height: 60px;
  border-radius: 5px;
  float: left;
  overflow: hidden;
  margin-right: 25px; 
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}
